@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jaro2X";
  src: url("/JaroFont/Jaro_60pt-Regular.ttf");
}

@font-face {
  font-family: "Jaro";
  src: url("/JaroFont/Jaro_9pt-Regular.ttf");
}

@font-face {
  font-family: "RobotoMono";
  src: url("/RobotoMonoFont/RobotoMono-Medium.ttf");
}
